/* Base style */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  text-align: center;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: rgba(0,0,0,.75);
  margin-top: 30px;
}

h2, h3, h4 {
  color: rgba(0,0,0,.75);
  margin-top: 10px;
}

.big-text {font-size: 25px;}
.med-text {font-size: 20px;}
.normal-text {font-size: 10px;}
.intro-text {text-transform: uppercase; font-size: 12px;}

@media (min-width: 375px) {
  .big-text {font-size: 30px;}
  .med-text {font-size: 25px;}
  .normal-text {font-size: 12px;}
  .intro-text {text-transform: uppercase; font-size: 15px;}
}

@media (min-width: 600px) {
  .big-text {font-size: 40px;}
  .med-text {font-size: 30px;}
  .normal-text {font-size: 20px;}
  .intro-text {text-transform: uppercase; font-size: 25px;}
}

/* Intro */
.intro {
  padding: 0 40px;
}

/* Counter */
.counter {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 40px;
}

.counter-display {
  width: 250px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(0,0,0,.75);
  color: #fff;
  font-size: 80px;
}

.counter-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.counter-button-minus, .counter-button-plus {
  width: 100px;
  height: 40px;
  background-color: rgba(255,255,255,.75);
  font-size: 30px;
  margin: 20px 20px;
}

.counter-button-minus:hover, .counter-button-plus:hover, .counter-reset:hover {
  background: rgba(255,255,255,.9);
}

.counter-verify {
  width: 150px;
  height: 40px;
  background-color: rgba(175, 255, 178, 0.75);
  margin: 0 auto;
  line-height: 40px;
}

.counter-verify:hover {
  background-color: rgba(114, 255, 119, 0.87);
}

.counter-reset {
  width: 80px;
  height: 40px;
  background-color: rgba(255,255,255,.75);
  margin: 0 auto;
  margin-top: 20px;
  line-height: 40px;
}

.counter-button-minus, .counter-button-plus, .counter-verify, .counter-reset {
  cursor: pointer;
}

@media (min-width: 600px) {
  .counter-display {
    width: 500px;
    height: 300px;
    font-size: 160px;
  }
  .counter-button-minus,
  .counter-button-plus {
    width: 200px;
    height: 80px;
    font-size: 64px;
  }
  .counter-verify {
    width: 300px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
  }
  .counter-reset {
    width: 160px;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
  }
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
